

name: Build PhotoPrismPi Image


on:
  # Triggers the workflow on push or pull request events but only for the "devel" branch
  push:
    branches: [ "devel" ]
  pull_request:
    branches: [ "devel" ]
  schedule: 
    - cron: "0 0 1 * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  
  build-image:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./src

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
      
      - name: Copy base image into place
        run: wget -c -P ./image --trust-server-names 'https://cdimage.ubuntu.com/releases/20.04/release/ubuntu-20.04.4-preinstalled-server-arm64+raspi.img.xz'
                
      - name: Start docker-compose environment
        run: docker-compose up -d
        
      - name: Build the image with docker exec command
        run: docker exec -it photoprismpi-build build
        
      - name: Save the built image
        run: ls -al
        

        

  
